<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  </head>
  <body>
    <div id="root">

      <input type="text" name="" value="" v-model="newSearch" @keyup.enter="movieSearch(), tvSearch()"  >
      <div class="film">
      <div class="filmBox" v-for = "movie in movies">
        <img class="anteprima" v-if="movie.backdrop_path == null" src="file:///Users/francescobello/Desktop/Bello%20Francesco/vue-boolflix/anteprima.jpg" :alt="movie.backdrop_path">
        <img class="anteprima" v-else :src="'https://image.tmdb.org/t/p/' + 'w342' + movie.backdrop_path " :alt="movie.backdrop_path">
        <p>titolo: </p>
        <p> {{ movie.title }}  </p>

        <p>titolo originale: {{ movie.original_title }}  </p>
          <p >  <strong>Trama : </strong> {{ movie.overview }}</p>
        <p>Lingua Originale:  </p>
        <img class="language" :src="'lingue/' + movie.original_language + '.png'" :alt="movie.original_language">
        <p v-if="movie.vote_average > 0"> <i v-for="i in star(movie.vote_average)"class="fas fa-star"></i>
          <i v-for="i in (5 - star(movie.vote_average))"class="far fa-star"></i></p>
          <p v-else>n.d.</p>


      </div>


      <div class="filmBox" v-for = "serie in series">
        <p>TvShow</p>
        <img class="anteprima" v-if="serie.backdrop_path == null" src="file:///Users/francescobello/Desktop/Bello%20Francesco/vue-boolflix/anteprima.jpg" :alt="serie.backdrop_path">
        <img class="anteprima" v-else :src="'https://image.tmdb.org/t/p/' + 'w342' + serie.backdrop_path " :alt="serie.backdrop_path">
        <p>titolo: {{ serie.name }}</p>
        <p>titolo originale: {{ serie.original_name }}</p>
          <p>trama {{ serie.overview }}</p>
        <p>lingua originale: </p>
        <img class="language" :src="'lingue/' + serie.original_language + '.png'" :alt="serie.original_language">
        <p v-if="serie.vote_average > 0"> <i v-for="i in star(serie.vote_average)"class="fas fa-star"></i>
          <i v-for="i in (5 - star(serie.vote_average))"class="far fa-star"></i>  </p>

      </div>
      </div>



    </div>
    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
