*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
  height: 70px;
  background-color: black;
  clear: both;
}
header h1{
  color: red;
  text-transform: uppercase;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}
body{
  height: calc(100vh - 70px);
  background-color: #696969;
}
main{
  background-color: #696969;
  height: 100%;
}
input{
  float: right;
  height: 25px;
  width: 200px;
  border-radius: 5px;
  margin: 20px 30px;
}


/*.filmBox{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  flex-basis: 200px;
  margin: 10px 10px;
  width: 200px;
    height: 300px;
  background-color: black;
  color: white;
  padding: 1px;
  font-size: 15px;

}*/
.container {
    max-width: 900px;
    margin: auto;
}

.container::after {
    clear: both;
    content: '';
    display: table;
}
.filmBox{
  float: left;
  margin: 10px 10px;
  width: 200px;
  height: 300px;
  background-color: black;
  color: white;
  padding: 1px;
  font-size: 15px;
  perspective: 1000px;
}
.box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.box-front .box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.filmBox:hover .box-inner {
    transform: rotateY(180deg);
}
/*.box-front .anteprima{
  width: 100%;
  height: 100%;
  object-fit: cover;
}*/
.box-back {
 color: white;
 transform: rotateY(180deg);
 padding: 20px;
 overflow: auto;
}
.filmBox:hover{
  overflow: auto;
}
/*.film{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}*/
/*.flip-card {
  background-color: transparent;
  perspective: 1000px;
}
.flipcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;

  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
.flip-card:hover .flipcard-inner {
  transform: rotateY(180deg);
}
*/
.language{
  height: 20px;
}
.anteprima{
  width: 100%;
  height: 300px;
}


 .filmBox p, .filmBox .language{
display: none;
}


.filmBox:hover p, .filmBox:hover .language {
  display: inline-block;
}



.filmBox:hover .anteprima{
  display: none;
}
